
<p-table [columns]="cols" [value]="companys"
class="air-table"
selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        List of companys
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                  {{getDate(rowData, col)}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="companys Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{maxWidth: '700px'}">
    <div class="ui-g ui-fluid" *ngIf="company">
        <form (ngSubmit) = "onSubmit()" style="height: 380px;" [formGroup]="companyForm">
        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="name">Name</label>
            </div>
            <div class="ui-g-10">
                <input pInputText id="name" formControlName="name" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="listPlanes">Airplanes</label>
            </div>
            <div class="ui-g-10">
                <p-multiSelect [options]="listPlanes" formControlName="listPlanes" [panelStyle]="{width:'100%'}"></p-multiSelect>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="listAirPorts">Airports</label>
            </div>
            <div class="ui-g-10">
                <p-multiSelect [options]="listAirPorts" formControlName="listAirPorts" [panelStyle]="{width:'100%'}"></p-multiSelect>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-2">
                <label for="address">Address</label>
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea id="address" formControlName="address"  ></textarea>
            </div>
        </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="submit" pButton icon="fa fa-times" (click)="delete()" label="Delete"></button>
            <button type="submit" [disabled]="companyForm.invalid" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"  key="error" position="bottom-center"></p-toast>