/* You can add global styles to this file, and also import other style files */
body {
    max-width: 960px;
    margin: 0 auto;
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4BrdbiSFlik14dmb5/time-lapse-moving-cloud-on-blue-sky-background_4s9ilq19e__F0000.png);
    background-size: 100vw 100vh;
}